<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <h1>Madlibs</h1>
    <form action="/story">
        <label for="place">place</label>
        <input type="text" placeholder="place" name="place" id="place">
        <br>
        <label for="plural_noun">noun</label>
        <input type="text" placeholder="noun" name="noun" id="noun">
        <br>
        <label for="verb">verb</label>
        <input type="text" placeholder="verb" name="verb" id="verb">
        <br>
        <label for="adjective">adjective</label>
        <input type="text" placeholder="adjective" name="adjective" id="adjective">
        <br>
        <label for="plural_noun">plural_noun</label>
        <input type="text" placeholder="plural_noun" name="plural_noun" id="plural_noun">
        <br>
        <button>Submit</button>
    </form>
</body>

</html>