<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories Form</title>
</head>

<body>
    <h1>Story Options:</h1>
    <form action="/form">
        <label for="stories">Choose a story:</label>
        <select id="stories" name="stories">
            <option value="story1">Way back in {place}, there lived a
                silly {adjective} {noun}. It would always {verb} {plural_noun}.</option>
            <option value="story2">Once upon a time in a long-ago {place}, there lived a
                large {adjective} {noun}. It loved to {verb} {plural_noun}.</option>
            <option value="story3">In west {place}, there resided a
                chill {adjective} {noun}. It never didn't {verb} {plural_noun}.</option>
        </select>
        <button>Submit</button>
    </form>
</body>

</html>